@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-content: 'Poppins', 'Helvetica', sans-serif;
    --bg-primary: #458ADB;
    --bg-secondary: #EDF1F7;
    --bg-white: #fefefe;
    --text-primary: #2E3A59;
    --text-primary-light: #E4E9F2;
    --text-secondary: #596782;
    --accent: #dd3d6d;
    --accent-light: hsl(342, 73%, 90%);
    --success: #4CAF50;
    --success-light: hsl(122, 39%, 85%);
    --warning: #e7e54d;
    --warning-light: hsl(58, 76%, 90%);
}
* {
    box-sizing: border-box;
    font-family: var(--font-content);
}

body {
    margin: 0;
    background-color: var(--bg-white);
}
p {
    font-family: var(--font-content);
    line-height: 165%;
    font-size: 1rem;
    font-weight: 300;
}
h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
}
form label {
    font-size: .875rem;
    color: var(--text-secondary);
}